/env
/venv
.venv
/core/__pycache__
/dashboard/__pycache__
/media
/app_accounts/migrations
/app_dashboard/migrations
/tailwindcss
/jstoolchain
/node_modules
env.json
db.sqlite3
*.pyc
.qodo
.DS_Store
templates/.DS_Store
*.DS_Store
/staticfiles