{% extends "layouts/base.html" %}
{% load static %}

{% block title %} {{ school.name }} {% endblock %}




{% block display %}
<div class="mt-3 mx-4">
    {% with component='navbar_dashboard' %}
        {% include 'components/navbar.html' %}
    {% endwith %}
</div>
<main class="flex mt-4 gap-3">
    <div class="overflow-y-scroll w-full px-4" style="height: 89vh;">
        <div class="flex justify-between items-center mb-6">
            <p class="text-3xl text-center font-semibold text-theme">School Management</p>
            <button id='open-modal' modal-id='modal-school' class="max-sm:hidden btn btn-primary">

                <i class="fas fa-plus me-3" style="font-size: 16px;"></i>
                <span class="max-sm:hidden me-3"> Add new </span>
            </button>

        </div>

        <div class="mt-3 mb-4">
            {% include 'components/dbtoolbar.html' %}
        </div>

        <!-- Schools Cards -->
        <div class="flex">
            <div id="display_cards" class="w-full flex justify-center
             gap-6 grid opacity-0">
                {% for school in schools %}
                    {% with component='card_school'%}
                        {% include 'components/cards.html' %}
                    {% endwith %}
                {% endfor %}
            </div> 
        </div>
    </div>

    <div class="inforbar max-lg:hidden pr-4">
        {% include 'components/inforbar.html' %}
    </div>

</div>



<!-- Components-->
<div class="hidden">
    <!-- Modal for creating school-->
    {% with component='modal_school'%}
        {% include 'components/modals.html' %}
    {% endwith %}

    <!-- Dropdown Context Menu For School-->
    <ul  id="menu-context-school" class="dropdown-menu right-0 hidden">
        <li id="record-edit" class="menu-item menu-item-border menu-item-top">
            <i class="fa fa-school ml-3 mr-5"></i> 
            Edit information
        </li>

        <li id="record-share" class="menu-item menu-item-bot">
            <button>
                <i class="fa fa-school ml-3 mr-5"></i> 
                Share your school
            </button>
        </li>
    </ul>
</div>
{% endblock %}




{% block extra_script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var element = document.getElementById('modal-school');
        if (element) {
            // Retrieve the entire HTML of the element
            var htmlContent = element.outerHTML;
            // Save to local storage
            localStorage.setItem('modal-school', htmlContent);
            element.remove();
        }
    });
</script>



{% endblock %}

















