{% load custom_tags %}


<div up-hungry id="record_{{ record.pk }}" record-id="{{ record.pk }}" class="relative card">
    
    {% if select == 'schools' %}
        <a href="{% url 'dashboard' record.pk %}">
            <div class="card-image-container">
                {% if record.image %}
                    <img src="{{ record.image.url }}" alt="{{ record.name }}" class="rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50" />
                {% else %}
                    <img src="/media/images/default/default_class.webp" alt="Default School Image" class="rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50" />
                {% endif %}
            </div>
        </a>
    {% elif select == 'classes' %}
        <a href="{% url 'classroom' school.pk record.pk %}" up-target="#title_bar, #db_tool_bar, #display_cards, #infor-bar">
            <div class="card-image-container">
                {% if record.image %}
                    <img src="{{ record.image.url }}" alt="{{ record.name }}" class="aspect-video object-cover rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50" />
                {% else %}
                    <img src="/media/images/default/default_class.webp" alt="Default Class Image" class="aspect-video object-cover rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50" />
                {% endif %}
            </div>
        </a>
    {% elif select == 'classroom' %}
        <div class="card-image-container relative">
            {% if record.image %}
                <img src="{{ record.image.url }}" alt="{{ record.name }}" class="aspect-video object-cover rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50"/>
            {% else %}
                <img src="/media/images/default/default_class.webp" alt="Default Classroom Image" class="aspect-video object-cover rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50"/>
            {% endif %}
            <div class="absolute top-0 right-0 text-red-500 dark:text-red-600 m-2 px-2 py-1 font-bold text-4xl glow">
                {{ record.reward_points }}
            </div>
        </div>
    {% else %}
        <div class="pt-3"></div>
    {% endif %}
    
    <div class="flex justify-between items-start px-2">
        <div class="w-11/12">
            <h3 class="text-md font-semibold text-theme text-center pl-1 truncate">
                {% if select != 'schools' %}
                    {{ record.secondary_id}} - 
                {% endif %}
                {{ record }}
            </h3>
        </div>
        <div class="menu relative">

            <div class="menu-button flex flex-col justify-between items-center cursor-pointer gap-y-0.5 py-1.5 w-6 rounded-xl hover:bg-gray-200 hover:dark:bg-gray-700">
                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
            </div>
            {% if is_first %}
                <!-- Dropdown Context Menu For Record-->
                <ul  id="menu-card-context" class="dropdown-menu right-0 hidden">
                    <!-- Add record id by js -->
                    <a id="record-edit" class="" 
                        href="" 
                        up-target="#modal" up-history="false">
                        <i class="fa fa-school ml-3 mr-5"></i> 
                        Edit information
                    </a>

                    {% if select == 'students' %}
                        <a id="pay_tuition" class="menu-item menu-item-border"
                            href="" 
                            up-target="#modal" up-history="false">
                            <i class="fa fa-money ml-3 mr-5"></i> 
                            Pay tuition
                        </a>

                        <a id="attendance-calendar" class="menu-item menu-item-border"
                            href=""
                            up-target="#title_bar, #db_tool_bar, #display_cards, #infor-bar">
                            <i class="fa fa-calendar ml-3 mr-5"></i> 
                            Attendance calendar
                        </a>
                    {% endif %}

                    {% if select == 'schools' %}
                        <a id="record-share" class="menu-item menu-item-bot">
                            <i class="fa fa-school ml-3 mr-5 w-5"></i> 
                            Share your school
                        </a>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
    
    <div class="flex flex-col text-theme text-sm px-4 pb-3">
        {% if select == 'schools' %}
            <!-- Keep <p> for paragraphs of text -->
            <div class="whitespace-pre-line"> {{ record.description }} </div>

        {% elif select == 'classes' %}
            <!-- Keep <p> for paragraphs of text -->
            <div class="whitespace-pre-line"> {{ record.note }} </div>

        {% elif select == 'students' %}
            <!-- Use div for flex container, span for inline text elements -->
            <div class="flex">
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-user-check w-6"></i>
                    <span>{{ record.status }}</span>
                </div>
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-venus-mars w-6"></i>
                    <span>{{ record.get_gender_display }}</span>
                </div>
            </div>
            
            <div class="flex">
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-birthday-cake w-6"></i>
                    <span>{{ record.date_of_birth|date:"d-m-Y" }}</span>
                </div>
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-clock w-6"></i> 
                    <span>{{ record.created_at|date:"d-m-Y" }}</span>
                </div>
            </div>
    
            <div class="flex">
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-users w-6"></i>
                    <span class="truncate-start">{{ record.parents }}</span>
                </div>
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-phone w-6"></i>
                    <span>{{ record.phones }}</span>
                </div>
            </div>
    
            <div class="flex">
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-dollar-sign w-6"></i>
                    <span>{{ record.balance|format_vnd }}</span>
                </div>
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-star w-6"></i>
                    <span>{{ record.reward_points }}</span>
                </div>
            </div>
    
        {% elif select == 'classess' %}
            <!-- Use div for consistency; span for text -->
            <div class="h-10 truncate flex items-center">
                <i class="fas fa-user-check w-5"></i>
                <span>{{ record.name }}</span>
            </div>
            <div class="h-10 truncate flex items-center">
                <i class="fas fa-venus-mars w-5"></i>
                <span>{{ student }}</span>
            </div>
    
        {% elif select == 'financial_transactions' %}
            <!-- Use div for consistency; span for text -->
            <div class="h-10 truncate flex items-center">
                <i class="fas fa-dollar-sign w-5"></i>
                <span>{{ record.amount|format_vnd }}</span>
            </div>
        {% endif %}
    </div>
    
    
</div>



