

<div id="record_{{ record.pk }}" record-id="{{ record.pk }}" class="card p-2">
    
    {% if select == 'schools' %}
        <a href="{% url 'dashboard' record.pk %}">
            <img src="{{ record.image.url }}" alt="{{ record.name }}" class="aspect-video object-cover rounded-lg border border-slate-200 dark:border-slate-900" />
        </a>
    {% elif select == 'classes' %}
        <a href="{% url 'classroom' school.pk record.pk %}"
                    up-target="#title_bar, #db_tool_bar, #display_cards, #infor-bar">
            <img src="{{ record.image.url }}" alt="{{ record.name }}" class="aspect-video object-cover rounded-lg border border-slate-200 dark:border-slate-900" />
        </a>
    {% elif select == 'classroom' %}
    <a>
        <img src="{{ record.image.url }}" alt="{{ record.name }}" class="aspect-video object-cover rounded-lg border border-slate-200 dark:border-slate-900"/>
    </a>
    {% endif %}

    <div class="flex justify-between items-start py-2">
        <div class="w-11/12">
            <h3 class="text-lg font-bold text-theme text-center pl-1 truncate">{{ record.name }}</h3>
        </div>
        <div class="menu relative">

            <div class="menu-button flex flex-col justify-between items-center cursor-pointer gap-y-0.5 py-1.5 w-6 rounded-xl hover:bg-gray-200 hover:dark:bg-gray-700">
                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
            </div>
            {% if is_first %}
                <!-- Dropdown Context Menu For Record-->
                <ul  id="menu-card-context" class="dropdown-menu right-0 hidden">
                    <li>
                        <!-- Add record id by js -->
                        <a id="record-edit" class="menu-item menu-item-border menu-item-top" 
                            href="{{ base_url }}" 
                            up-target="#modal-form" up-history="false">
                            <i class="fa fa-school ml-3 mr-5 me-3"></i> 
                            Edit information
                        </a>
                    </li>

                    <li id="record-share" class="menu-item menu-item-bot">
                        <button>
                            <i class="fa fa-school ml-3 mr-5 me-3"></i> 
                            Share your school
                        </button>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="flex flex-col px-3 pt-3">
        {% if select == 'schools' %}
            <p class="text-theme whitespace-pre-line"> {{ record.description }} <p>
        {% elif select == 'students' %}
            
            <p class="text-theme h-10 truncate">
                <i class="fas fa-user-check me-3"></i> {{ record.status }}
            </p>
            <p class="text-theme h-10 truncate">
                <i class="fas fa-venus-mars me-3"></i> {{ record.get_gender_display }}
            </p>
            <p class="text-theme h-10 truncate">
                <i class="fas fa-birthday-cake me-3"></i> {{ record.date_of_birth|date:"d-m-Y" }}
            </p>
            <p class="text-theme h-10 truncate">
                <i class="fas fa-users me-3"></i> {{ record.parents }}
            </p>
            <p class="text-theme h-10 truncate">
                <i class="fas fa-phone me-3"></i> {{ record.phones }}
            </p>

            <p class="text-theme h-10 truncate">
                <i class="fas fa-star me-3"></i> {{ record.reward_points }}
            </p>
            <p class="text-theme h-10 truncate">
                <i class="fas fa-clock me-3"></i> {{ record.created_at|date:"d-m-Y H:i" }}
            </p>

        {% elif select == 'classess' %}
            
            <p class="text-theme h-10 truncate">
                <i class="fas fa-user-check me-3"></i> {{ record.name }}
            </p>
            <p class="text-theme h-10 truncate">
                <i class="fas fa-venus-mars me-3"></i> {{ student }}
            </p>

        {% elif select == 'classroom' %}
        
            <p class="text-theme h-10 truncate">
                <i class="fas fa-star me-3"></i> {{ record.reward_points }}
            </p>

        {% endif %}
    </div>

</div>



