{% load custom_tags %}

<!-- Payment Selection Dropdown -->
<div class="col-xl-4 col-lg-5 col-md-6 d-flex align-items-center">
    <select id="paymentFilter" class="form-input" onchange="window.location.href = '{{ request.path }}?payment_id=' + this.value;">
        <option value="all">Select Payment to Filter</option>
        {% for payment in payments %}
        <option value="{{ payment.id }}" {% if payment.id|stringformat:"s" == selected_payment_id %}selected{% endif %}>
            {{ payment.created_at|date:"d-m-Y" }} - {{ payment.student.name }} - Đóng {{ payment.amount|format_vnd }} - HP tăng thêm {{ payment.student_balance_increase|format_vnd }}
        </option>

        {% endfor %}
        <option value="unpaid">Unpaid lessons</option>
    </select>
</div>

<div id="display_attendance_calendar" class="my-5">
    {% for month in months %}
    <div class="card w-full my-5">
        <div  class="text-center text-theme font-bold text-xl py-2">{{ month.month }}</div>  <!-- Display the month -->
        <div class="grid grid-cols-7 justify-between gap-4 bg-slate-200 dark:bg-slate-700 font-semibold text-md py-2">
            <div class="text-center text-theme">Mon</div>
            <div class="text-center text-theme">Tue</div>
            <div class="text-center text-theme">Wed</div>
            <div class="text-center text-theme">Thu</div>
            <div class="text-center text-theme">Fri</div>
            <div class="text-center text-theme">Sat</div>
            <div class="text-center text-theme">Sun</div>
        </div>
        
        <div class="grid grid-cols-7 justify-between divide-x divide-y">
                {% for day in month.days %}
                    <div class="text-center py-2">
                        {% if day.display %}
                            <div class="py-2">{{ day.date.day }}</div>
                            <div class="py-2 flex flex-col gap-3">
                                {% for attendance in day.attendances %}
                                    
                                    <a id="record_{{ attendance.pk }}" href="/schools/{{ school.pk }}/attendances/{{ attendance.pk }}?get=form" up-target="#modal" up-history="false">
                                        <!-- Example: You might want to customize this based on your attendance model -->
                                        {% if attendance.status == 'present' %}
                                            <span class="py-1 px-2 rounded-lg present">
                                        {% elif attendance.status == 'absent' %}
                                            <span class="py-1 px-2 rounded-lg absent">
                                        {% elif attendance.status == 'late' %}
                                            <span class="py-1 px-2 rounded-lg late">
                                        {% elif attendance.status == 'left_early' %}
                                            <span class="py-1 px-2 rounded-lg left-early">
                                        {% endif %}
                                        {{ attendance.check_class }} 
                                        {% if attendance.is_payment_required %} - Paid {% endif %} - {{ attendance.learning_hours }}h</span>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
        
        </div>
        
    </div>
    {% endfor %}
</div>

