
<div id="navbar" class="flex justify-between items-center gap-4 h-8">
    <div id="navbar-left" class="flex justify-start items-center gap-5">
        <img src="/static/images/logo.png" alt="Logo" class="object-contain h-10 w-28">
        {% if component != 'navbar_school' %}
            <div class="relative"
                        _="on click elsewhere
                        add .hidden to #menu-school">
                <button class="dropdown-button grid justify-center items-center
                    px-3 h-8 rounded-xl
                    bg-gradient-to-r from-theme-500 to-theme-700
                    dark:from-theme-700 dark:to-theme-800"
                            _="on click
                            toggle .hidden on #menu-school">
                    <p class="text-white dark:text-slate-300 text-sm truncate font-semibold">{{ school.name }}</p>
                </button>
                <!-- Dropdown Menu -->
                <div id="menu-school" class="dropdown-menu hidden left-0">
                    <a href="/manage-schools" class="menu-item menu-border rounded-t-xl ">
                        <i class="fa fa-school ml-3 mr-5"></i> 
                        <span>Manage schools</span>
                    </a>
                    <a href="#" class="menu-item rounded-b-xl border-none">
                        <i class="fa fa-gear ml-3 mr-5"></i> 
                        <span>Change school name</span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>


    {% if component != 'navbar_school' %}
        <div id="navbar-center" class="flex justify-end items-center gap-2">

            <a href="/dashboard" class="flex justify-center items-center has-tooltip w-12 h-12 rounded-xl hover:bg-gray-200 dark:hover:bg-gray-800 text-nowrap">
                <span class="fa fa-home text-theme me-1" style="font-size: 23px;"></span>
            </a>

            <a href="/dashboard" class="flex justify-center items-center has-tooltip w-12 h-12 rounded-xl hover:bg-gray-200 dark:hover:bg-gray-800 text-nowrap">
                <span class="fa fa-chalkboard text-theme me-1" style="font-size: 23px;"></span>
            </a>

            <a href="/dashboard" class="flex justify-center items-center has-tooltip w-12 h-12 rounded-xl hover:bg-gray-200 dark:hover:bg-gray-800 text-nowrap">
                <span class="fa fa-user-graduate text-theme me-1" style="font-size: 23px;"></span>
            </a>

            <a href="/dashboard" class="flex justify-center items-center has-tooltip w-12 h-12 rounded-xl hover:bg-gray-200 dark:hover:bg-gray-800 text-nowrap">
                <span class="fa fa-dollar-sign text-theme me-1" style="font-size: 23px;"></span>
            </a>
            <a href="/dashboard" class="flex justify-center items-center has-tooltip w-12 h-12 rounded-xl hover:bg-gray-200 dark:hover:bg-gray-800 text-nowrap">
                <span class="fa fa-toolbox text-theme me-1" style="font-size: 23px;"></span>
            </a>
        </div>
    {% endif %}


    <div id="navbar-right" class="flex justify-end items-center gap-5">
        <div id="quick-settings" class="flex justify-between gap-4 hidden w-full"
                    _="on click from #onresize-hs measure #navbar then
                            if it.width > 639 
                                put me before the first of #navbar-right
                                add .rounded-t-xl to #item-2 in #menu-profile
                                add .hidden to #item-1 in #menu-profile
                            else 
                                put me into #item-1 in #menu-profile
                                remove .rounded-t-xl from #item-2 in #menu-profile
                                remove .hidden from #item-1 in #menu-profile
                            end
                            remove .hidden from me">
                            
            <label class="text-theme transition-all duration-300 ease-in-out cursor-pointer">
                <!-- this hidden checkbox controls the state -->
                <input id="theme-toggle" class="hidden" type="checkbox">
                        
                <div class="relative w-7 h-7">
                    <!-- sun icon -->
                    <svg id="sun-icon" class="absolute inset-0 fill-current transition-opacity duration-300 ease-in-out" style="opacity: 1;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
                    </svg>
                    <!-- moon icon -->
                    <svg id="moon-icon" class="absolute inset-0 fill-current transition-opacity duration-300 ease-in-out" style="opacity: 0;"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
                    </svg>
                </div> 
            </label>

            <label class="text-theme transition-all duration-300 ease-in-out cursor-pointer">
                <!-- this hidden checkbox controls the state -->
                <input id="theme-toggle" class="hidden" type="checkbox">
                        
                <div class="relative w-7 h-7">
                    <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--emojione" preserveAspectRatio="xMidYMid meet" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><circle cx="32" cy="32" r="30" fill="#f42f4c"></circle><path fill="#ffe62e" d="M32 39l9.9 7l-3.7-11.4l9.8-7.4H35.8L32 16l-3.7 11.2H16l9.8 7.4L22.1 46z"></path></g></svg>
                </div> 
            </label>
        </div>

        <!-- Profile Picture and Dropdown  -->
        <div class="relative"
                    _="on click elsewhere
                    add .hidden to #menu-profile">

            <div class="dropdown-button cursor-pointer" 
                        _="on click toggle .hidden on #menu-profile" >

                <div class="flex justify-center items-center w-10 h-10 border-2 border-cyan-700 rounded-full shadow-xl">
                    <img src="https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg" alt="Profile Picture" class="rounded-full object-cover w-11 h-9">
                </div>
            </div>
            <!-- Dropdown Menu -->
            <ul id="menu-profile" class="dropdown-menu hidden right-0">
                <div id="item-1" class="menu-item menu-border rounded-t-xl hidden w-full pr-3 pl-6">
                </div>
                <a id="item-2" href="#" class="menu-item menu-border rounded-t-xl">
                    <i class="fa fa-user ml-3 mr-6"></i>
                    <span>Profile</span>
                </a>
                <a href="#" class="menu-item menu-border">
                    <i class="fa fa-gear ml-3 mr-5"></i>
                    <span>Settings</span>
                </a>
                <a href="{% url 'password_change' %}" class="menu-item menu-border">
                    <i class="fa fa-key ml-3 mr-5"></i> 
                    <span>Change password</span>
                </a>
                <a href="{% url 'logout' %}" class="menu-item rounded-b-xl">
                    <i class="fa fa-sign-out ml-3 mr-5"></i>
                    <span>Log out</span>
                </a>
            </ul>
        </div>
    </div>
</div>
<hr class="border-t border-gray-300 dark:border-gray-800 my-3" />



