

<div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-white border-t border-gray-200 dark:bg-gray-700 dark:border-gray-600">
  <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
      
      <a href="{% url 'portal_profile' student.school.pk student.pk %}" type="button" up-target=".content" up-history="false" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
        <img src="/static/images/icons/profile.png" alt="profile icon" class="inline-block w-7">
          <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500 whitespace-nowrap">Thông tin</span>
      </a>
      
      <a href="{% url 'portal_calendar' student.school.pk student.pk %}" up-target=".content" up-history="false" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
        <img src="/static/images/icons/calendar.png" alt="calendar icon" class="inline-block w-7">
          <span class="text-2xs text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Lịch</span>
      </a>

      <a href="{% url 'portal_zalo' student.school.pk student.pk %}" up-target=".content" up-history="false" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
        <img src="/static/images/icons/zalo.png" alt="zalo icon" class="inline-block w-7">
          <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Zalo</span>
      </a>
      <a href="{% url 'portal_rules_benefits' %}" up-target=".content" type="button" up-history="false" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
        <img src="/static/images/icons/regulation.png" alt="chat icon" class="inline-block w-7">
        <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">QL&TN</span>
      </a>
  </div>
</div>

