{% if records.paginator.num_pages != 1 %}
  <div class="pagination justify-content-center">
    <span class="page-links">
      {% if records.has_previous %}
        <a class="btn btn-outline-info" href="javascript:void(0);" onclick="loadRecordsDisplay(1)">&laquo;</a>
        <a class="btn btn-outline-info" href="javascript:void(0);" onclick="loadRecordsDisplay({{ records.previous_page_number }})">&lt;</a>
      {% endif %}

      {# Page range logic #}
      {% with current=records.number total_pages=records.paginator.num_pages %}
        {% if current > 4 %}
          <a class="btn btn-outline-info" href="javascript:void(0);" onclick="loadRecordsDisplay(1)">1</a>
          <span class="page-gap">...</span>
        {% endif %}

        {% for num in records.paginator.page_range %}
          {% if current == num %}
            <!-- Add the 'active' class for the current page -->
            <span class="btn btn-info current active">{{ num }}</span>
          {% elif num > current|add:'-3' and num < current|add:'3' %}
            <a class="btn btn-outline-info" href="javascript:void(0);" onclick="loadRecordsDisplay({{ num }})">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if current < total_pages|add:'-3' %}
          <span class="page-gap">...</span>
          <a class="btn btn-outline-info" href="javascript:void(0);" onclick="loadRecordsDisplay({{ total_pages }})">{{ total_pages }}</a>
        {% endif %}
      {% endwith %}

      {% if records.has_next %}
        <a class="btn btn-outline-info" href="javascript:void(0);" onclick="loadRecordsDisplay({{ records.next_page_number }})">&gt;</a>
        <a class="btn btn-outline-info" href="javascript:void(0);" onclick="loadRecordsDisplay({{ records.paginator.num_pages }})">&raquo;</a>
      {% endif %}
    </span>
  </div>
{% endif %}
